<div class="row">
    <div class="col-xs-12">
      <h1>Task Management</h1>
      <label>Title</label>
      <!-- <input type="text" class="form-control" [(ngModel)] = "newtaskName"> -->
      <input type="text" class="form-control" #taskNameInput>
      <label>Description</label>
      <!-- <input type="text" class="form-control" [(ngModel)] = "newtaskContent"> <br> -->
      <input type="text" class="form-control" #taskContentInput> <br>
      <button
        class="btn btn-primary"
        (click)="onAddtask(taskNameInput)">Add Task</button>
      <button
      class="btn btn-primary"
      (click)="onAddgoal(taskNameInput)">
      Add Goal this Week
      </button>
    </div>
  </div>